<section id="about" class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div data-aos="fade-right" data-aos-duration="1000" class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        About the Project
      </h2>
      <p class="mb-4">
        Peek-A-Book is a Library Book Preview Web App designed to simplify the
        way users search, browse, and preview books online. With no login
        required, it offers a seamless experience for discovering book details
        like metadata, thumbnails, and previews.
      </p>
      <p>
        With an emphasis on simplicity and accessibility, Peek-A-Book invites
        everyone to embark on a journey of literary exploration without
        barriers. Whether you're a casual reader or a book enthusiast,
        Peek-A-Book is your gateway to discovering your next great read.
      </p>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="/images/just-browsing.svg"
        alt="just-browsing"
        draggable="false"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="/images/browsing.svg"
        alt="browsing"
        draggable="false"
      />
    </div>
  </div>
</section>
