<section class="bg-gray-50 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        How It Works for You
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Explore, preview, and dive into the content that matters most. With an
        intuitive system, accessing detailed book information is just a few
        clicks away.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900"
        >
          <svg
            class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16Z" />
            <path
              fill-rule="evenodd"
              d="M21.707 21.707a1 1 0 0 1-1.414 0l-3.5-3.5a1 1 0 0 1 1.414-1.414l3.5 3.5a1 1 0 0 1 0 1.414Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Search or Browse</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Quickly find books by browsing or using our search function to
          discover titles based on your interests.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900"
        >
          <svg
            class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 15v3c0 .5523.44772 1 1 1h9.5M3 15v-4m0 4h9m-9-4V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v5H3Zm5 0v8m4-8v8m5.9001-1.0999L16 16m0 0 1.9001-1.9001M16 16h5"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Preview Details</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Once you find a book, view all the essential details and metadata to
          get a sneak peek of what’s inside.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900"
        >
          <svg
            class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">View Full Info</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Click for more details, including links to full content or additional
          previews, and start reading today.
        </p>
      </div>
    </div>
  </div>
</section>
