<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= tabTitle %></title>
    <link href="/css/output.css" rel="stylesheet" />
    <script defer src="/alpinejs/dist/cdn.min.js"></script>
    <script src="/flowbite/dist/flowbite.min.js"></script>
    <script src="/js/onload.js"></script>
  </head>
  <body>
    <%- include("partials/header"); %>
    <main>
      <%- include(contentPath); %>
    </main>
    <% if (contentPath === "pages/home") { %>
      <%- include("partials/footer"); %>
    <% } %>
    <script src="/js/main.js"></script>
  </body>
</html>
